* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeee;
  width: 100vw;
  height: 100vh;
}

h1 {
  color: red;
  background-color: wheat;
  
}

 a {
  text-decoration: none;
  font-size: 26px;
}

.container {
  width: 100vw;
  height: 80vh;
  overflow: scroll;
  border: 2px solid salmon;
  display: flex;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.subbox {
  display: flex;
  flex-direction: column;
}
.box {
  display: flex;
  flex-direction: column;
}
.box > h1 {
  background-color: #799473;
}

.box > p {
  background-color: cyan;
}

.box > pre {
  background-color: #799473;
  text-wrap: wrap;
}

.imgs img {
  width: 100%;
}

.links {
  display: flex;
}
.links > div {
  flex-grow: 1;
  text-align: center;
  border: 2px solid red;
  background-color: pink;
  color: red;
}


.user-form {
  width: 100%;
  background-color: #ecb1b1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.user-form > form {
  margin: 0;
  padding: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  margin-block: 20px;
}

.user-form ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.user-form ul li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-block: 10px;
}

.user-form li label {
  color: #342a2a;
  background-color: #eee;
  font-weight: bold;
  font-size: 1.2rem;
  height: 35px;
  text-align: left;
  align-content: center;
  
}

.user-form li input {
  height: 50px;
  font-size: 28px;
  color: #242420;
  caret-color: darkgreen;
  transition: all 2s;
}
.user-form li input:hover {
  outline: none;
  box-shadow: 1px 1px 2px 2px green;
}

.user-form li textarea {
  transition: all 2s;
  height: 100pX;
  font-size: 20px;
}
.user-form li textarea:hover {
  outline: none;
  box-shadow: 1px 1px 2px 2px green;
}
.user-form li button {
  height: 35px;
  font-size: 24px;
  color: #5a7dbd;
}